@import './assets/css/fonts.css';

@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
  --font-tomato: 'Tomato Grotesk', sans-serif;
  --font-syne: 'Syne', sans-serif;
  --font-code: 'Fira Code', monospace;

  --color-dark: #070b18;
  --color-light: #fff;
  --color-vyaguta-green: #2ecc71;
  --color-vyaguta-blue: #102b7b;

  --text-xxs: 0.625rem;
}

@layer components {
  /* TODO: check and update the transitions of all */
  * {
    @apply font-syne tracking-wide transition-all duration-300 ease-initial;
  }
  body {
    @apply text-light bg-vyaguta-bg bg-dark h-screen overflow-hidden;
  }

  button {
    @apply cursor-pointer;
  }

  code,
  code span {
    @apply font-code! text-vyaguta-green;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  label,
  a,
  input,
  textarea,
  button {
    @apply font-normal;
  }

  strong,
  b {
    @apply font-medium;
  }

  p,
  span,
  ul,
  li,
  input::placeholder {
    @apply font-light;
  }

  ol {
    @apply list-outside list-decimal leading-relaxed;
  }

  ul {
    @apply list-outside list-disc leading-relaxed;
  }

  /* .chat-container p {
    @apply my-4 leading-snug last:mb-0;
  } */

  .chat-container ul {
    @apply mb-4 leading-normal;
  }
  .chat-container p {
    @apply mb-4;
  }

  .gradient-text {
    @apply bg-vyaguta-gradient-loading animate-gradient-shift bg-size-[300%_300%] bg-clip-text text-transparent;
  }
}
